//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug

mixin main-nav(selectedID)

  //- Принимает:
  //-   selectedID {string} - id пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
        +main-nav('1')

  //- подключаем файл со структурой данных блока
  include main-nav.data.pug

  nav.main-nav#nav&attributes(attributes)
    +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    ul.main-nav__list
      li.main-nav__item.main-nav__item--about
        a.main-nav__link(href="") О компании
        ul.main-nav__list-hidden.main-nav__list-hidden--about
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr

      li.main-nav__item.main-nav__item--services
        a.main-nav__link(href="") Услуги
        ul.main-nav__list-hidden.main-nav__list-hidden--services
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") lo
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") vooo
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") brrra
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr

      li.main-nav__item.main-nav__item--cases
        a.main-nav__link(href="") Кейсы
        ul.main-nav__list-hidden.main-nav__list-hidden--cases
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") bar
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") foo
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") brrra
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr
          li.main-nav__item-hidden
            a.main-nav__link-hidden(href="") fvevr

      li.main-nav__item
        a.main-nav__link(href="") Контакты
      li.main-nav__item
        a.main-nav__link(href="") Блог
      li.main-nav__item
        a.main-nav__link(href="") На связи
