// В этом файле должны быть стили для БЭМ-блока cc-approach, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cc-approach {
  padding-top: 35px;
  padding-bottom: 35px;

  $block-name:                &; // #{$block-name}__element

  &--theme-main {
    color: #fff;
    background: $rubin;
  }

  &__container  {
    @include container();
  }

  &__stages {
    @include row();
  }

  &__stage {
    margin-bottom: 35px;
    @include col(xs, 12, $grid-columns, 25px);
    @include row();
    justify-content: space-around;
  }

  &__info-block {
    @include col(md, 6, $grid-columns, 12px)
  }

  &__info-title {
    display: block;
    font-size: 32px;
    margin-bottom: 25px;
  }

  &__icon {
    margin-top: 50px; 
    @include col(md, 3, $grid-columns, 15px)
  }

  &__list {
    &-item {
      &--titeled {
        list-style: none;
      }
    }
  }
}
