// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  position: absolute;
  left: 0;
  top: 10;
  right: 0;
  width: 100%;

  &__inner {
    @include container();
    display: flex;
    justify-content: flex-end;
  }

  &__phone {
    position: absolute;
    right: 10%;
    top: 2px;
    color: #fff!important;
    font-size: 21px;
    z-index: 10;
  }

  @media ( max-width: $screen-sm ) {
    &__phone {
      top: 35px;
      right: 5%;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
