// В этом файле должны быть стили для БЭМ-блока title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.title {

  $block-name:                &; // #{$block-name}__element
  color: #30302f;
  font-family: inherit;
  font-size: $tite-size;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 50px;
}
