form.order-form
  .order-form__container
    span.order-form__title
    .order-form__grid
      .order-form__cell
        .order-form__input-wrap
          input(type="text").order-form__input
        .order-form__input-wrap
          input(type="text").order-form__input
        .order-form__input-wrap
          input(type="text").order-form__input
        .order-form__sub-info
          span Работаем по будням с 10:00 до 19:00.
            | Заявки, отправленныев выходные, обрабатываем в первый рабочий день.

      .order-form__cell
        textarea(name="", cols="30", rows="10")
        button(type="submit") Оставить заявку
        span.order-form__agreement Нажимая кнопку, вы соглашаетесь на обработку
          | персональных данных и соглашаетесь с политикой конфиденциальности.
