// В этом файле должны быть стили для БЭМ-блока info-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.info-card {

  $block-name:                &; // #{$block-name}__element

  &__arrow {
    display: block;
    margin-left: auto;
    right: 5%;
    bottom: 5%;
    width: 40px;
    height: 20px;
    fill: #bc0054;
    transition: 0.7s ease;
  }

  & {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    // transition: 0.7s ease;

    &:hover .info-card__body {
      transform: translateY(-15%);
      background: #bc0054;
    }

    &:hover .info-card__body .info-card__title{
      color: #fff;
    }

    &:hover .info-card__arrow {
      fill: #fff;
    }

    /* &:hover {
      box-shadow: 0px 1px 22px -1px rgba(135,135,135,1);
    } */
  }

  &__body {
    height: 110px;
    padding: 20px 15px;
    background: $gray-light;
    transition: 0.7s ease;
  }

  &__button {
    margin-top: 10px;
  }
}
