// В этом файле должны быть стили для БЭМ-блока info-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.info-card {

  $block-name:                &; // #{$block-name}__element

  & {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
  }

  

}
