// В этом файле должны быть стили для БЭМ-блока about-us-review, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about-us-review {

  background: $gray-light;
  padding: 15px 0px;

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-top: 10px;

  }

  &__inner {
    @include container();
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &-quote {
      padding: 15px;
      font-size: 14px;
      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 4px;
        background: $rubin;
      }
    }

    &-photo {
      width: 300px;
      height: 240px;
    }

    &-footer {
      font-weight: bold;
      margin-top: 15px;

      & p {
        margin: 0;
      }
    }
  }

  @media (max-width: $screen-sm) {
    &__item {
      display: block;

      &-photo {
        width: 230px;
        height: 260px;
      }
    }
  }
}
