extends ../pug/layout.pug

block meta
  title О компании
  meta(name='description', content='')

block nav
  +main-nav('10')

block content
  .cm-blog
    .cm-blog__inner
      .cm-blog__promo
        .cm-blog__promo-content
          h1.cm-blog__title Наш блог
          span.cm-blog__subtitle читай каждую неделю!
          .cm-blog__descr Lorem ipsum dolor sit amet consectetur Dolorum possimus debitis inventore!Sequi nam, repellendus odio quasi, temporibus laboriosam asperiores ab unde debitis vitae neque molestias nihil beatae facilis. Officia, provident, dolores vel magni laborum dolorum similique, blanditiis quam pariatur explicabo natus?
        .cm-blog__promo-blog

      .cm-blog__container
        





