extends ../pug/layout.pug

block meta
  title О компании
  meta(name='description', content='')

block nav
  +main-nav('10')

block content
  .contacts
    .contacts__header
    .contacts__info
        h1.contacts__title Контакты
        .contacts__address
          p Санкт-Петербург,
          |Большая Посадская, 16
        a.contacts__number(href="tel:") +7 (812) 425-61-41
        a.contacts__mail(href="") adv@cropmedia


