extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')

block content
  .home-promo
    .home-promo__video-container
      video.home-promo__background-video(loop='' muted='')
      .home-promo__video-cover
      .home-promo__overlay
    section.home-promo__content
      .home-promo__container
        .home-promo__grid
          .home-promo__info
            h1.home-promo__title тут вся реклама
            .promo__descr
             p|
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Vitae qui quia earum mollitia numquam accusantium?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, numquam.
              Lorem ipsum dolor, sit amet consectetur adipisicing.
            button.btn.promo__btn кликни меня

  .home-cases
    .home-cases__container
      h2.title.home-cases__general-title Наши кейсы
      .home-cases__grid
        .home-cases__cell
          .home-cases__card

        .home-cases__cell
          .home-cases__card

        .home-cases__cell
          .home-cases__card

        .home-cases__cell
          .home-cases__card

        .home-cases__cell
          .home-cases__card

        .home-cases__cell
          .home-cases__card

        .home-cases__cell
          .home-cases__card

        .home-cases__cell
          .home-cases__card




//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
