extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')

block content
  .home-promo
    .home-promo__video-container
      video.home-promo__background-video(loop='' muted='')
      .home-promo__video-cover
      .home-promo__overlay
    section.home-promo__content
      .home-promo__container
        .home-promo__grid
          .home-promo__info
            h1.home-promo__title тут вся реклама
            .promo__descr
              p|
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Vitae qui quia earum mollitia numquam accusantium?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, numquam.
                Lorem ipsum dolor, sit amet consectetur adipisicing.
            button.btn.promo__btn кликни меня

  .home-cases
    .home-cases__container
      h2.title.home-cases__general-title Наши кейсы
      .home-cases__grid
        .home-cases__cell
          section.case-card__wrapper
            .case-card
              header.case-card__header
                i.fa.fa-globe.house-card-heading-icon
                h2.case-card__heading logo
              .case-card__status
                p.case-card__overview
                  | здесь инфа оооооо чем-то
                  | 115% прибыль
                  | cash.
            .case-card__hover-state
              p.case-card__hover-title watsons
              header.case-card__hover-header
                h2.case-card__heading US
              p.case-card__hover-description
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, architecto fuga sit incidunt, in
                | voluptatem! Itaque suscipit, dignissimos eligendi adipisci magni nobis tempora non sit consequuntur
                | quasi. Ut, harum, aut?
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') View More


        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              header.case-card__header
                i.fa.fa-globe.house-card-heading-icon
                h2.case-card__heading logo
              .case-card__status
                p.case-card__overview
                  | здесь инфа оооооо чем-то
                  | 115% прибыль
                  | cash.
            .case-card__hover-state
              p.case-card__hover-title watsons
              header.case-card__hover-header
                h2.case-card__heading US
              p.case-card__hover-description
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, architecto fuga sit incidunt, in
                | voluptatem! Itaque suscipit, dignissimos eligendi adipisci magni nobis tempora non sit consequuntur
                | quasi. Ut, harum, aut?
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') View More

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              header.case-card__header
                i.fa.fa-globe.house-card-heading-icon
                h2.case-card__heading logo
              .case-card__status
                p.case-card__overview
                  | здесь инфа оооооо чем-то
                  | 115% прибыль
                  | cash.
            .case-card__hover-state
              p.case-card__hover-title watsons
              header.case-card__hover-header
                h2.case-card__heading US
              p.case-card__hover-description
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, architecto fuga sit incidunt, in
                | voluptatem! Itaque suscipit, dignissimos eligendi adipisci magni nobis tempora non sit consequuntur
                | quasi. Ut, harum, aut?
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') View More

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              header.case-card__header
                i.fa.fa-globe.house-card-heading-icon
                h2.case-card__heading logo
              .case-card__status
                p.case-card__overview
                  | здесь инфа оооооо чем-то
                  | 115% прибыль
                  | cash.
            .case-card__hover-state
              p.case-card__hover-title watsons
              header.case-card__hover-header
                h2.case-card__heading US
              p.case-card__hover-description
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, architecto fuga sit incidunt, in
                | voluptatem! Itaque suscipit, dignissimos eligendi adipisci magni nobis tempora non sit consequuntur
                | quasi. Ut, harum, aut?
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') View More

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              header.case-card__header
                i.fa.fa-globe.house-card-heading-icon
                h2.case-card__heading logo
              .case-card__status
                p.case-card__overview
                  | здесь инфа оооооо чем-то
                  | 115% прибыль
                  | cash.
            .case-card__hover-state
              p.case-card__hover-title watsons
              header.case-card__hover-header
                h2.case-card__heading US
              p.case-card__hover-description
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, architecto fuga sit incidunt, in
                | voluptatem! Itaque suscipit, dignissimos eligendi adipisci magni nobis tempora non sit consequuntur
                | quasi. Ut, harum, aut?
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') View More

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              header.case-card__header
                i.fa.fa-globe.house-card-heading-icon
                h2.case-card__heading logo
              .case-card__status
                p.case-card__overview
                  | здесь инфа оооооо чем-то
                  | 115% прибыль
                  | cash.
            .case-card__hover-state
              p.case-card__hover-title watsons
              header.case-card__hover-header
                h2.case-card__heading US
              p.case-card__hover-description
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, architecto fuga sit incidunt, in
                | voluptatem! Itaque suscipit, dignissimos eligendi adipisci magni nobis tempora non sit consequuntur
                | quasi. Ut, harum, aut?
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') View More

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              header.case-card__header
                i.fa.fa-globe.house-card-heading-icon
                h2.case-card__heading logo
              .case-card__status
                p.case-card__overview
                  | здесь инфа оооооо чем-то
                  | 115% прибыль
                  | cash.
            .case-card__hover-state
              p.case-card__hover-title watsons
              header.case-card__hover-header
                h2.case-card__heading US
              p.case-card__hover-description
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, architecto fuga sit incidunt, in
                | voluptatem! Itaque suscipit, dignissimos eligendi adipisci magni nobis tempora non sit consequuntur
                | quasi. Ut, harum, aut?
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') View More

        .home-cases__cell
            .home-cases__cell
            section.case-card__wrapper
              .case-card
                header.case-card__header
                  i.fa.fa-globe.house-card-heading-icon
                  h2.case-card__heading logo
                .case-card__status
                  p.case-card__overview
                    | здесь инфа оооооо чем-то
                    | 115% прибыль
                    | cash.
              .case-card__hover-state
                p.case-card__hover-title watsons
                header.case-card__hover-header
                  h2.case-card__heading US
                p.case-card__hover-description
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, architecto fuga sit incidunt, in
                  | voluptatem! Itaque suscipit, dignissimos eligendi adipisci magni nobis tempora non sit consequuntur
                  | quasi. Ut, harum, aut?
                .case-card__view-more-button-container
                  a.case-card__view-more-button(href='#') View More




//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
