extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')

block content
  section.home-promo
    .home-promo__video-container
      video.home-promo__background-video(loop='' muted='')
      .home-promo__video-cover
      .home-promo__overlay
    section.home-promo__content
      .home-promo__container
        .home-promo__grid
          .home-promo__info
            h1.home-promo__title
              | тут
              span.home-promo__title--red вся
              br
              | реклама
            .home-promo__descr
              p
              |CROP media — эффективное интернет агентство.
              |Мы специализируемся на разработке и реализации комплексных
              |стратегий привлечения клиентов из интернета.

            button.btn.home-promo__btn(data-toggle="modal" data-target="#modal-demo-01") Оставить заявку

  section.home-cases
    .home-cases__container
      h2.title.home-cases__general-title.txt-rotate(data-period="1000", data-rotate='[ "Наши кейсы", "Повысили продажи", "На", "200%!!!"]')
      .home-cases__grid
        .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.home-cases__icon(src="img/logo-bs.png", alt="bs")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                  br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          section.case-card__wrapper
            .case-card
            .case-card__hover-state.case-card__hover-state--off.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                  br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.home-cases__icon(src="img/logo-farneo.png", alt="bs")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                  br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.home-cases__icon(src="img/logo-klever.png", alt="bs")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                  br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.home-cases__icon(src="img/logo-ryadi.png", alt="bs")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                  br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.home-cases__icon(src="img/logo-watsons.png", alt="bs")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                  br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.case-card__logo(src="", alt="sport mix")
            .case-card__hover-state.case-card__hover-state--off.case-card__hover-state--oktoklub
              header.case-card__hover-header
                h2.case-card__heading Оптоклуб Ряды
              p.case-card__hover-title розничная и оптовая торговля
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                  br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.home-cases__icon(src="img/logo-yolkki.png", alt="bs")
            .case-card__hover-state.case-card__hover-state--oktoklub
              header.case-card__hover-header
                h2.case-card__heading Оптоклуб Ряды
              p.case-card__hover-title розничная и оптовая торговля
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                  br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

      a.home-cases__more(href="") увидеть больше

  section.home-industry
    .home-industry__container
      h4.title.home-industry__title Отраслевые решения
      .home-industry__grid
        .home-industry__cell
          article.info-card
            img(src="img/info-card-1.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title Недвижимость
              a.info-card__link(href="")
                svg.info-card__arrow(id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 98.78 39.34')
                  path.st0(d='M0 15.68v7.87h19.4l-7.88-7.87zM80.89 0L69.94.19l14.87 15.49H21.17l7.87 7.87h55.77L69.94 39.04l10.83.3 18.01-19.73z')
        .home-industry__cell
          article.info-card
            img(src="img/info-card-2.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title Ритейл
              a.info-card__link(href="")
                svg.info-card__arrow(id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 98.78 39.34')
                  path.st0(d='M0 15.68v7.87h19.4l-7.88-7.87zM80.89 0L69.94.19l14.87 15.49H21.17l7.87 7.87h55.77L69.94 39.04l10.83.3 18.01-19.73z')
        .home-industry__cell
          article.info-card
            img(src="img/info-card-3.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title Медицина
              a.info-card__link(href="")
                svg.info-card__arrow(id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 98.78 39.34')
                  path.st0(d='M0 15.68v7.87h19.4l-7.88-7.87zM80.89 0L69.94.19l14.87 15.49H21.17l7.87 7.87h55.77L69.94 39.04l10.83.3 18.01-19.73z')
        .home-industry__cell
          article.info-card
            img(src="img/info-card-4.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title Fashion
              a.info-card__link(href="")
                svg.info-card__arrow(id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 98.78 39.34')
                  path.st0(d='M0 15.68v7.87h19.4l-7.88-7.87zM80.89 0L69.94.19l14.87 15.49H21.17l7.87 7.87h55.77L69.94 39.04l10.83.3 18.01-19.73z')

  section.performance-marketing
    .performance-marketing__container
      h5.performance-marketing__title Performance Marketing
      .glide#classic-slider
        .glide__track(data-glide-el='track')
          ul.glide__slides
            li.glide__slide
              section.case-card__wrapper
                .case-card
                  img.case-card__logo(src="img/logo-bs.png", alt="bely sad")
                .case-card__hover-state.case-card__hover-state--watsons
                  header.case-card__hover-header
                    h2.case-card__heading watsons
                  p.case-card__hover-title косметика и товары для дома
                  p.case-card__hover-description
                    |плюс
                    span.case-card__hover-description--red  200%
                      br
                    | к продажам
                  .case-card__view-more-button-container
                    a.case-card__view-more-button(href='#') читать

            li.glide__slide
              section.case-card__wrapper
                .case-card
                .case-card__hover-state.case-card__hover-state--off.case-card__hover-state--watsons
                  header.case-card__hover-header
                    h2.case-card__heading watsons
                  p.case-card__hover-title косметика и товары для дома
                  p.case-card__hover-description
                    |плюс
                    span.case-card__hover-description--red  200%
                      br
                    | к продажам
                  .case-card__view-more-button-container
                    a.case-card__view-more-button(href='#') читать

            li.glide__slide
              section.case-card__wrapper
                .case-card
                  img.case-card__logo(src="img/logo-ryadi.png", alt="ryadi")
                .case-card__hover-state.case-card__hover-state--watsons
                  header.case-card__hover-header
                    h2.case-card__heading watsons
                  p.case-card__hover-title косметика и товары для дома
                  p.case-card__hover-description
                    |плюс
                    span.case-card__hover-description--red  200%
                      br
                    | к продажам
                  .case-card__view-more-button-container
                    a.case-card__view-more-button(href='#') читать

            li.glide__slide
              section.case-card__wrapper
                .case-card
                  img.case-card__logo(src="img/logo-watsons.png", alt="watsons")
                .case-card__hover-state.case-card__hover-state--watsons
                  header.case-card__hover-header
                    h2.case-card__heading watsons
                  p.case-card__hover-title косметика и товары для дома
                  p.case-card__hover-description
                    |плюс
                    span.case-card__hover-description--red  200%
                      br
                    | к продажам
                  .case-card__view-more-button-container
                    a.case-card__view-more-button(href='#') читать

        .glide__bullets(data-glide-el='controls[nav]')
          button.glide__bullet(data-glide-dir='=0')
          button.glide__bullet(data-glide-dir='=1')
          button.glide__bullet(data-glide-dir='=2')
          button.glide__bullet(data-glide-dir='=3')

  section.services
    .services__container
      h4.title.services__general-title Наши услуги
      .services__grid
        .services__cell
          a(href="").services__card
            img.services__img(src="img/internet-marketing.jpg", alt="internet marketing")
            footer.services__bottom
              h6.services__card-title Интрернет-Маркетинг
            .services__card-hover
              ul.services__card-list
                li.services__card-item Нейминг
                li.services__card-item Фирменный стиль
                li.services__card-item Логотип
                li.services__card-item Сувенирная продукция

        .services__cell
          a(href="").services__card
            img.services__img(src="img/audit.jpg", alt="audit")
            footer.services__bottom
              h6.services__card-title Интрернет-Маркетинг
            .services__card-hover
              ul.services__card-list
                li.services__card-item Нейминг
                li.services__card-item Фирменный стиль
                li.services__card-item Логотип
                li.services__card-item Сувенирная продукция

        .services__cell
          a(href="").services__card
            img.services__img(src="img/brending.jpg", alt="brending")
            footer.services__bottom
              h6.services__card-title Интрернет-Маркетинг
            .services__card-hover
              ul.services__card-list
                li.services__card-item Нейминг
                li.services__card-item Фирменный стиль
                li.services__card-item Логотип
                li.services__card-item Сувенирная продукция

        .services__cell
          a(href="").services__card
            img.services__img(src="img/perf-marketing.jpg", alt="performac-marketing")
            footer.services__bottom
              h6.services__card-title Интрернет-Маркетинг
            .services__card-hover
              ul.services__card-list
                li.services__card-item Нейминг
                li.services__card-item Фирменный стиль
                li.services__card-item Логотип
                li.services__card-item Сувенирная продукция



  +modal('modal-demo-01', 'Форма обратной связи', 'some')
    .modal__body
      form.general-form(action="")
        label.general-form__label(for="userName") Имя
        input.general-form__field(type="text" placeholder="Ваше имя, сэр")
        span.general-form__help-info Имя юзера. Не менее 3-х символов. Обязательно.
        label.general-form__label(for="userName") номер
        input.general-form__field(type="text" placeholder="Ваше номер, сэр")
        span.general-form__help-info Имя юзера. Не менее 3-х символов. Обязательно.
        label.general-form__label(for="userName") мэйл
        input.general-form__field(type="text" placeholder="Ваше мэйл, сэр")
        label.general-form__label(for="userName") комментарий
        textarea.general-form__text-field(type="text" placeholder="Ваше коммент, сэр")
        button.btn(type="submit") клик-клак
    .modal__footer
      button.btn(type='button', data-dismiss='modal') Закрыть

block footer




//- block append page-bottom
//-   script(src='js/some.js')


