extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')

block content
  section.home-promo
    .home-promo__video-container
      video.home-promo__background-video(loop='' muted='')
      .home-promo__video-cover
      .home-promo__overlay
    section.home-promo__content
      .home-promo__container
        .home-promo__grid
          .home-promo__info
            h1.home-promo__title тут вся реклама
            .promo__descr
              p|
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Vitae qui quia earum mollitia numquam accusantium?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, numquam.
                Lorem ipsum dolor, sit amet consectetur adipisicing.
            button.btn.promo__btn(data-toggle="modal" data-target="#modal-demo-01") кликни меня

  section.home-cases
    .home-cases__container
      h2.title.home-cases__general-title Наши кейсы
      .home-cases__grid
        .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.case-card__logo(src="img/logo-bs.svg", alt="bely sad")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                  |плюс
                  span.case-card__hover-description--red  200%
                   br
                  | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
            .case-card__hover-state.case-card__hover-state--off.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                  |плюс
                  span.case-card__hover-description--red  200%
                   br
                  | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.case-card__logo(src="img/logo-farneo.svg", alt="farnego")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                  |плюс
                  span.case-card__hover-description--red  200%
                   br
                  | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.case-card__logo(src="img/logo-yolkki.svg", alt="yolkki")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                 br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.case-card__logo(src="img/logo-watsons.svg", alt="watsons")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                 br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.case-card__logo(src="img/logo-watsons.svg", alt="sport mix")
            .case-card__hover-state.case-card__hover-state--watsons
              header.case-card__hover-header
                h2.case-card__heading watsons
              p.case-card__hover-title косметика и товары для дома
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                 br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.case-card__logo(src="img/logo-watsons.svg", alt="sport mix")
            .case-card__hover-state.case-card__hover-state--off.case-card__hover-state--oktoklub
              header.case-card__hover-header
                h2.case-card__heading Оптоклуб Ряды
              p.case-card__hover-title розничная и оптовая торговля
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                 br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

        .home-cases__cell
          .home-cases__cell
          section.case-card__wrapper
            .case-card
              img.case-card__logo(src="img/logo-ryadi.svg", alt="sport mix")
            .case-card__hover-state.case-card__hover-state--oktoklub
              header.case-card__hover-header
                h2.case-card__heading Оптоклуб Ряды
              p.case-card__hover-title розничная и оптовая торговля
              p.case-card__hover-description
                |плюс
                span.case-card__hover-description--red  200%
                 br
                | к продажам
              .case-card__view-more-button-container
                a.case-card__view-more-button(href='#') читать

  //- section.home-service
    .home-service__container
      h4.title.home-service__title
      .home-service__grid
        .home-service__cell
          article.info-card
            img(src="img/promo-bg.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title интернет маркетинг
              .info-card__descr
                p
                | Lorem ipsum dolor sit amet consectetur adipisicing.
                | Lorem ipsum dolor sit amet.
                | quam deserunt sit numquam porro perspiciatis sint modi, natus consectetur.
              a.btn.info-card__button далее

        .home-service__cell
          article.info-card
            img(src="img/promo-bg.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title аудить #[br] и аналитика
              .info-card__descr
                p
                |lololololololo test some info
                | quam deserunt sit numquam porro perspiciatis sint modi, natus consectetur.
              a.btn.info-card__button далее

        .home-service__cell
          article.info-card
            img(src="img/promo-bg.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title брендинг
              .info-card__descr
                p
                |lololololololo test some info
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                | A sequi eum eius quis quas dolorem minus suscipit cumque minima quisquam,
              a.btn.info-card__button далее

  section.home-industry
    .home-industry__container
      h4.title.home-industry__title отраслевые решения
      .home-industry__grid
        .home-industry__cell
          article.info-card
            img(src="img/info-card-1.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title интернет маркетинг
              a.info-card__link(href="")
                svg.info-card__arrow(id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 98.78 39.34')
                  path.st0(d='M0 15.68v7.87h19.4l-7.88-7.87zM80.89 0L69.94.19l14.87 15.49H21.17l7.87 7.87h55.77L69.94 39.04l10.83.3 18.01-19.73z')

        .home-industry__cell
          article.info-card
            img(src="img/info-card-2.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title интернет маркетинг
              a.info-card__link(href="")
                svg.info-card__arrow(id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 98.78 39.34')
                  path.st0(d='M0 15.68v7.87h19.4l-7.88-7.87zM80.89 0L69.94.19l14.87 15.49H21.17l7.87 7.87h55.77L69.94 39.04l10.83.3 18.01-19.73z')

        .home-industry__cell
          article.info-card
            img(src="img/info-card-3.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title интернет маркетинг
              a.info-card__link(href="")
                svg.info-card__arrow(id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 98.78 39.34')
                  path.st0(d='M0 15.68v7.87h19.4l-7.88-7.87zM80.89 0L69.94.19l14.87 15.49H21.17l7.87 7.87h55.77L69.94 39.04l10.83.3 18.01-19.73z')

        .home-industry__cell
          article.info-card
            img(src="img/info-card-4.jpg", alt="alt").info-card__img
            .info-card__body
              h5.info-card__title интернет маркетинг
              a.info-card__link(href="")
                svg.info-card__arrow(id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 98.78 39.34')
                  path.st0(d='M0 15.68v7.87h19.4l-7.88-7.87zM80.89 0L69.94.19l14.87 15.49H21.17l7.87 7.87h55.77L69.94 39.04l10.83.3 18.01-19.73z')

  +modal('modal-demo-01', 'Форма обратной связи', 'some')
    .modal__body
      form.general-form(action="")
        label.general-form__label(for="userName") Имя
        input.general-form__field(type="text" placeholder="Ваше имя, сэр")
        span.general-form__help-info Имя юзера. Не менее 3-х символов. Обязательно.

        label.general-form__label(for="userName") номер
        input.general-form__field(type="text" placeholder="Ваше номер, сэр")
        span.general-form__help-info Имя юзера. Не менее 3-х символов. Обязательно.

        label.general-form__label(for="userName") мэйл
        input.general-form__field(type="text" placeholder="Ваше мэйл, сэр")
        label.general-form__label(for="userName") комментарий
        textarea.general-form__text-field(type="text" placeholder="Ваше коммент, сэр")
        button.btn(type="submit") клик-клак
    .modal__footer
      button.btn(type='button', data-dismiss='modal') Закрыть

block footer
  p footer


//- block append page-bottom
//-   script(src='js/some.js')


