extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')

block content
  .home-promo
    .home-promo__container
      .home-promo__grid
        .home-promo__info
          h1.home-promo__title тут вся реклама
          p.promo__descr Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae qui quia earum mollitia numquam accusantium?
          button.btn.promo__btn кликни меня
  .home-cases
    .home-cases__container
      h2.title.home-cases__general-title Наши кейсы
      .home-cases__grid
        .home-cases__cell
          .home-cases__card
        .home-cases__cell
          .home-cases__card
        .home-cases__cell
          .home-cases__card
        .home-cases__cell
          .home-cases__card




//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
