extends ../pug/layout.pug

block meta
  title О компании
  meta(name='description', content='')

block nav
  +main-nav('10')

block content
  .pf-promo
    .pf-promo__inner
      .pf-promo__grid
        .pf-promo__left-side
          h1.pf-promo__title Performance -
            br
            | маркетинг
          .pf-promo__descr
            p Мы специализируемся на разработке и реализации
              | комплексных стратегий привлечения клиентов из интернета.
          button.btn.btn--unfilled.pf-promo__btn Оставить заявку
        .pf-promo__right-side
          .pf-promo__img-wrap
            img.pf-promo__img(src="img/ft-promo.png", alt="grafik")

  .pf-way
    .pf-way__inner
      h2.title.pf-way__general-title Как это работает?
      img.pf-way__scheme(src="img/pf-way.jpg", alt="")

  .ordered-accordion
    .ordered-accordion__container
      h3.title Наши подходы к решению задач
      .ordered-accordion__inner
        .ordered-accordion__title.active
          p 01. Анализируем ваш бренд, бизнес и маркетинг
        .ordered-accordion__content
          p Общей целью любого бизнеса, который планирует
            |воспользоваться возможностями Performance Marketing ,
            |является повышение продаж. При этом более подробные цели
            | и задачи зависят от направленности и масштабов бизнеса,
            |корпоративной миссии и стратегии, региональности и прочих индивидуальных факторов.

        .ordered-accordion__title
          p 02. Подбор инструментов и разработка стратегии
        .ordered-accordion__content
          p Общей целью любого бизнеса, который планирует
            |воспользоваться возможностями Performance Marketing ,
            |является повышение продаж. При этом более подробные цели
            | и задачи зависят от направленности и масштабов бизнеса,
            |корпоративной миссии и стратегии, региональности и прочих индивидуальных факторов.

        .ordered-accordion__title
          p 03. Разрабатываем прозрачную систему KPI
        .ordered-accordion__content
          p Общей целью любого бизнеса, который планирует
            |воспользоваться возможностями Performance Marketing ,
            |является повышение продаж. При этом более подробные цели
            | и задачи зависят от направленности и масштабов бизнеса,
            |кпоративной миссии и стратегии, региональности и прочих индивидуальных факторов.

        .ordered-accordion__title
          p 04. Запускаем performance marketing
        .ordered-accordion__content
          p Общей целью любого бизнеса, который планирует
            |воспользоваться возможностями Performance Marketing ,
            |является повышение продаж. При этом более подробные цели
            | и задачи зависят от направленности и масштабов бизнеса,
            |корпоративной миссии и стратегии, региональности и прочих индивидуальных факторов.

        .ordered-accordion__title
          p 05. Предоставляем вам отчёт
        .ordered-accordion__content
          p Общей целью любого бизнеса, который планирует
            |воспользоваться возможностями Performance Marketing ,
            |является повышение продаж. При этом более подробные цели
            | и задачи зависят от направленности и масштабов бизнеса,
            |корпоративной миссии и стратегии, региональности и прочих индивидуальных факторов.

  .we-offer
    .we-offer__inner
      h3.title.we-offer__title Мы предлагаем
      .we-offer__grid
        .we-offer__cell
          article.offer-card
            .offer-card__inner
              ul.offer-card__list
                li.offer-card__item.offer-card__item--titeled Парсинг конкурентов и любая аналитика:
                li.offer-card__item
                li.offer-card__item
                li.offer-card__item
        .we-offer__cell
          article.offer-card
            .offer-card__inner
              ul.offer-card__list
                li.offer-card__item.offer-card__item--titeled Прогноз воронки продаж и бизнес показателей:
                li.offer-card__item
                li.offer-card__item
                li.offer-card__item
        .we-offer__cell
          article.offer-card
            .offer-card__inner
              ul.offer-card__list
                li.offer-card__item.offer-card__item--titeled Анализ поведения пользователей:
                li.offer-card__item
                li.offer-card__item
                li.offer-card__item

  //- include ../pug/order-form.pug















