// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  position: absolute;
  left: 0;
  z-index: 4;
  display: inline-block;
  white-space: nowrap;

  &__icon {
    width: 280px;
    height: 100px;
  }

  @media ( max-width: $screen-sm ) {
    &__icon {
      width: 200px;
    }
  }
}
