r//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
    +page-footer()
      p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner
      .page-footer__container
        .page-footer__grid
          .page-footer__cell-2
            span.page-footer__heading О компании
            ul.page-footer__list
              li.page-footer__item
                a.page-footer__link(href="") Команда
              li.page-footer__item
                a.page-footer__link(href="") История
              li.page-footer__item
                a.page-footer__link(href="") Награды
              li.page-footer__item
                a.page-footer__link(href="") Вакансии
              li.page-footer__item
                a.page-footer__link(href="") Наша жизнь
              li.page-footer__item
                a.page-footer__link(href="") Отзывы
          .page-footer__cell-2
            span.page-footer__heading Услуги
            ul.page-footer__list
              li.page-footer__item.page-footer__item--heading
                a.page-footer__link.footer__link-heading(href="") Интернет-маркетинг
              li.page-footer__item
                a.page-footer__link(href="") Стратегия
              li.page-footer__item
                a.page-footer__link(href="") Контекстная реклама
              li.page-footer__item
                a.page-footer__link(href="") Реклама в сс
              li.page-footer__item
                a.page-footer__link(href="") SMM
              li.page-footer__item
                a.page-footer__link(href="") SEO
              li.page-footer__item
                a.page-footer__link(href="") SERM
          .page-footer__cell-2
            ul.page-footer__list
              li.page-footer__item.page-footer__item--heading
                a.page-footer__link.footer__link-heading(href="") Аудит и аналитика
              li.page-footer__item
                a.page-footer__link(href="") Настройка веб-аналитики
              li.page-footer__item
                a.page-footer__link(href="") Usability аудит сайта
              li.page-footer__item
                a.page-footer__link(href="") Сквозная аналитика
          .page-footer__cell-2
            ul.page-footer__list
              li.page-footer__item.page-footer__item--heading
                a.page-footer__link.footer__link-heading(href="") Брендинг
              li.page-footer__item
                a.page-footer__link(href="") Нейминг
              li.page-footer__item
                a.page-footer__link(href="") Фирменный стиль
              li.page-footer__item
                a.page-footer__link(href="") Логотип
              li.page-.footer__item
                a.page-footer__link(href="") Сувенирная продукция
          .page-footer__cell-1
             ul.page-footer__list
              li.page-footer__item.page-footer__item--heading
                a.page-footer__link.footer__link-heading(href="") Perfomance-маркетинг
          .page-footer__cell-2
            ul.page-footer__list
              li.page-footer__item.page-footer__item--heading
                a.page-footer__link.footer__link-heading(href="") Маркетинг продаж
          .page-footer__cell-1
            ul.page-footer__list
              li.page-footer__item.page-footer__item--heading
                a.page-footer__link.footer__link-heading(href="") Offline
          .page-footer__cell-2
            span.page-footer__heading Кейсы
          .page-footer__cell-2
            span.page-footer__heading Offline
          .page-footer__cell-2
            span.page-footer__heading Контакты
          .page-footer__cell-2
            span.page-footer__heading Блог

        .page-footer__grid.page-footer__grid--bottom
          .page-footer__cell-4.page-footer__cell-4--fx-end
            p.page-footer__agreement 2019, cropmedia.ru <br>
              | Соглашение о персональных данных
          .page-footer__cell-2
            .page-footer__address Санкт-Петербург, <br> Большая Посадская, 16
            <br>
            a.page-footer__number(href="tel:+78129300025") +7 (812) 930-00-25 <br>
            a.page-footer__mail(href="mailto:adv@cropmedia.ru") adv@cropmedia.ru
            <br>
            .social.page-footer__social
              a.social__link(href="https://www.instagram.com/crop_media/", target="_blank")
                img.social__icon(src="img/insta.svg", alt="insta")
              a.social__link(href="https://vk.com/crop.media", target="_blank")
                img.social__icon(src="img/vk.svg", alt="vk")





        .page-footer__mobile-view
          .page-footer__address Санкт-Петербург, <br> Большая Посадская улица, 16
          a.page-footer__number(href="tel:+78129300025") +7 (812) 930-00-25
          a.page-footer__mail(href="mailto:adv@cropmedia.ru") adv@cropmedia.ru
          .social.page-footer__social
            a.social__link(href="https://www.instagram.com/crop_media/", target="_blank")
              img.social__icon(src="img/insta.svg", alt="insta")
            a.social__link(href="https://vk.com/crop.media", target="_blank")
              img.social__icon(src="img/vk.svg", alt="vk")
          p.page-footer__agreement 2019, cropmedia.ru <br>
            | Соглашение о персональных данных
  .burger-overlay
    ul.burger-overlay__menu
      li.burger-overlay__meny-item
        a.burger-overlay__menu-link О нас
      li.burger-overlay__meny-item
        a.burger-overlay__menu-link#burger-services Услуги

        ul.burger-overlay__submenu-list
          li.burger-overlay__submenu-item
            a.burger-overlay__submenu-link Интернет маркетинг
          li.burger-overlay__submenu-item
            a.burger-overlay__submenu-link Аудит и аналитика
          li.burger-overlay__submenu-item
            a.burger-overlay__submenu-link Брендинг
          li.burger-overlay__submenu-item
            a.burger-overlay__submenu-link Performance-маркетинг
          li.burger-overlay__submenu-item
            a.burger-overlay__submenu-link Маркетинг продаж

      li.burger-overlay__meny-item
        a.burger-overlay__menu-link Контакты
      li.burger-overlay__meny-item
        a.burger-overlay__menu-link Блог
      li.burger-overlay__meny-item
        a.burger-overlay__menu-link#burger-intouch На связи

        ul.burger-overlay__submenu-list
          li.burger-overlay__submenu-item
            a.burger-overlay__submenu-link Наш инстаграмм
          li.burger-overlay__submenu-item
            a.burger-overlay__submenu-link Наш фэйсбук
          li.burger-overlay__submenu-item
            a.burger-overlay__submenu-link Наш ВК

      li.burger-overlay__meny-item
        a.burger-overlay__menu-link Offline







