// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {
  color: #fff;
  background-color: $brown;
  padding-top: 55px;
  padding-bottom: 35px;
  &__container {
    font-size: 14px;
    @include container();
  }

  &__grid {
    @include row();

    &--bottom {
      justify-content: space-between;
    }
  }

  &__cell-1 {
    @include col(lg, 1, $grid-columns, 16px);
    @include col(xl, 1, $grid-columns, 20px);
  }

  &__cell-2 {
    @include col(lg, 2, $grid-columns, 16px);
    @include col(xl, 2, $grid-columns, 20px);
  }

  &__cell-4 {
    @include col(lg, 4, $grid-columns, 16px);
    @include col(xl, 4, $grid-columns, 20px);

    &--fx-end {
      display: flex;
      align-items: flex-end;
    }
  }

  &__cell-10 {
    @include col(lg, 10, $grid-columns, 16px);
    @include col(xl, 8, $grid-columns, 20px);
  }

  &__uslugi-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    display: block;
    color: $rubin;
    font-size: 16px;
    font-weight: bold;
    margin-top: -21px;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 35px;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: $rubin;
    }
  }

  &__mail {
    display: block;
    color: #fff;
    text-decoration: none;
  }

  &__item  {
    &--heading {
      text-decoration: underline;
      padding-bottom: 7px;
    }
  }

  &__mobile-view {
    display: none;
  }


  @media (max-width: $screen-md) {
    &__grid {
      display: none;
    }

    &__mobile-view {
      display: block;
      font-size: 18px;
      color: #fff;
    }

    &__number {
      color: #fff;
      display: block;
      margin-top: 20px;
    }

    &__agreement {
      font-size: 18px;
      margin-top: 10px;
    }
  }
}
