// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  $block-name:                &; // #{$block-name}__element

  &__header {
    height: 110px;
    background: $brown;
  }

  &__info {
    color: #fff;
    position: absolute;
    top: 35vh;
    right: 15%;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__address {
    & p {
      font-size: 18px;
      line-height: 0px;
    }
  }

  &__number {
    margin-top: 20px;
    display: block;
  }

  &__mail {
    display: block;
  }
}
