// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {
  position: relative;
  height: 400px;

  $block-name:                &; // #{$block-name}__element

  &__container {
    position: relative;
    @include container();
  }

  &__header {
    height: 110px;
    background: $brown;
  }

  &__info {
    color: #fff;
    position: absolute;
    right: 10%;
    margin-top: 25px;
    padding: 45px;
    background: rgba(39, 31, 31, 0.63);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__address {
    & p {
      font-size: 18px;
      line-height: 0px;
    }
  }

  &__number {
    margin-top: 20px;
    display: block;
  }

  &__mail {
    display: block;
    color: #fff;
  }

  @media (max-width: $screen-sm) {

    &__info {
      display: none;
    }
  }
}
