// В этом файле должны быть стили для БЭМ-блока home-promo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.home-promo {

  $block-name:                &; // #{$block-name}__element

  background: url(../img/promo-bg.jpg) no-repeat;
  background-size: cover;
  height: 70vh;

  &__container {
    @include container();
  }

  &__grid {
    @include row();
  }

  &__info {
    @include col(xl, 5);
    margin-left: auto;
  }
}
