// В этом файле должны быть стили для БЭМ-блока home-promo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.home-promo {
  height: 70vh;
  position: relative;

  $block-name:                &; // #{$block-name}__element

  &__container {
    @include container();
  }

  &__grid {
    @include row();
  }

  &__info {
    @include col(xs, 12, $grid-columns, 15px);
    @include col(sm, 8, $grid-columns, 10px);
    @include col(md, 6, $grid-columns, 12px);
    @include col(lg, 5, $grid-columns, 16px);
    @include col(xl, 5, $grid-columns);
    @include col(xxl, 4, $grid-columns, 26px);
    margin-left: auto;
  }

  &__video-container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &__video-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    background-size: cover;
    background-position: center;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color:rgba(1, 1, 1, 0.276);
    color: white;
    padding:10px 10px 50px 10px;
    z-index: 2;
  }
}

